<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <title>Title</title>
</head>
<body>
Thymeleaf page<br/>
<div id="app">
    <mt-header fixed title="固定在顶部"></mt-header>
    <mt-tabbar v-model="selected">
        <mt-tab-item id="外卖">
            <img slot="icon" src="../assets/100x100.png">
            外卖
        </mt-tab-item>
        <mt-tab-item id="订单">
            <img slot="icon" src="../assets/100x100.png">
            订单
        </mt-tab-item>
        <mt-tab-item id="发现">
            <img slot="icon" src="../assets/100x100.png">
            发现
        </mt-tab-item>
        <mt-tab-item id="我的">
            <img slot="icon" src="../assets/100x100.png">
            我的
        </mt-tab-item>
    </mt-tabbar>
    <a href="/product/list" target="_blank">产品列表</a><br/>
    <a href="/pay/detail" target="_blank">支付确认页面</a><br/>
</div>



</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data:{
            selected:"外卖"
        },
        methods: {
            handleClick: function() {
                this.$toast('Hello world!')
            }
        }
    })
</script>
</html>