<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <title>Title</title>
</head>
<body>
<div id="app">
    {{productList}}
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data:{
            productList:[]
        },
        created(){
            let pro = {
                name:"手机"
            };
            this.productList.push(pro);
        },
        methods: {

        }
    })
</script>
</html>